

body {
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    background-color: #fceefaa9;
    margin: 0;
    padding: 0;
}


.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.hero-title {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.hero img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.hero-title {
    color: #E7A9B8 !important;
}

 h2 {
    font-weight: 600;
    color: #E7A9B8;
}

p {
    font-weight: 400;
    color: #555555;
    font-family: Arial, Helvetica, sans-serif;
}



btn:hover {
    color: #FFD54F
}

.category-container img {
    max-width: 300px;
    height: auto;
    max-height: 250px;
}

h2 {
    margin-top: 20px;
}

